.register1 header {
    background: url("/Background1.png") lightgray 50% / cover no-repeat;
    width: 100vw;
    height: 100vh;
}

.register1 h2 {
    text-align: center;
    font-size: 32px; 
    font-weight: 600;
}

.logoauth {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2%;
    padding-bottom: 0.5%;
}

.register1 .shape  {    
    width: 60%;
    border-radius: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 35px 2px rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(25px);
    padding: 4%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.register1 .shape2-container {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.register1 .shape2 {
    border-radius: 36px;
    width: 45%;
    padding: 5%;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    text-align: center;
    justify-content: center;
}
.center {   
    text-align: center; 
}