body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Background2.png");
}

.pagecompany .tittle {
  font-size: 20px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  /* H1/Semi Bold 40 */
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pagecompany .profile-container {
  display: flex;
  gap: 2vw;
  max-width: 30vw;
  height: 15vh;
  align-items: center;
  margin: 5vh auto;
  justify-content: center;
  background: rgba(153, 153, 153, 0.26);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
  padding: 10px 20px;
  border-radius: 20px;
}

.headerz {
  position: absolute;
  margin-top: 0%;
  left: 50%;
  transform: translateX(-50%);
  height: 13%;
  width: 85vw;
  border-radius: 22px;
  background: rgba(153, 153, 153, 0.26);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
  z-index: 99;
}

.headerz .containerHeaderz {
  display: flex;
  width: auto;
  padding: 1.7% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerz .header-item {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.headerz .header-item.active {
  text-shadow: 0px 0px 5px #b04e75;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.companyd {
  margin: 5% 4%;
  height: 70vh;
  max-height: 600px;
  background: rgba(153, 153, 153, 0.26);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
  border-radius: 22px;
}

.companyd .containerDesc {
  position: absolute;
  width: auto;
  height: auto;
  margin: 6% 8%;
  padding: 3% 6%;
  border-radius: 25px;
  fill: rgba(153, 153, 153, 0.26);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
}

.companyd .containerDescJobList {
  position: absolute;
  width: auto;
  height: auto;
  margin: 4% 0%;
  padding: 3% 6%;
}

.companyd .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.companyd .column {
  width: 47%;
}
.companyd .column h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* CSS COMPANY CONTACT */
.companyd .containerDescContact {
  display: flex;
  position: absolute;
  width: 71%;
  height: auto;
  margin: 6% 8%;
  padding: 3% 6%;
  border-radius: 25px;
  fill: rgba(153, 153, 153, 0.26);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
}

.companyd .info {
  color: white;
  flex: 1;
}
.companyd .info h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.companyd .info .button {
  background-color: #ff4b5c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}
.companyd .info .button:hover {
  background-color: #ff1f3a;
}
.companyd .info .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.companyd .info .contact-item i {
  background-color: #4a4a4a;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
.companyd .info .contact-item p {
  padding-left: 15px;
  margin-top: -9px;
}
.companyd .map {
  flex: 1;
  margin-left: 20px;
}
.companyd .map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
}
.companyd .btnSecondary {
  padding: 10px 25px;
  color: #b04e75;
  border-radius: 33px;
  border: 3px solid #b04e75;
  background: #fff;
  backdrop-filter: blur(10px);
}

/* css job list */
.companyd .card-containerz {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.companyd .btnSecondary {
    font-size: 22px;
}
.companyd .cardz {
  border-radius: 25px;
  background-color: rgba(153, 153, 153, 0.096);
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(17px);
  display: flex;
  align-items: center;
  padding: 20px;
  width: 77vw;
}
.companyd .cardz img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.companyd .card-content {
  flex-grow: 1;
}
.companyd .card-content h3 {
  margin: 0;
  color: #ffffff;
  font-size: 18px;
}
.companyd .card-content p {
  margin: 5px 0 0;
  padding-right: 3%;
  color: #cccccc;
  font-size: 18px;
}
.companyd .learn-more-btn {
  max-width: 340px !important;
  border: none;
  font-size: 20px;
  background-color: #b04e75;
  min-width: 240px;
  padding: 17px 30px !important;
  border-radius: 22px;
  display: no-flex;
  align-items: center;
}
.companyd .learn-more-btn i {
  margin-left: 10px;
}
