/* Search Input and Button */

.search-box {
  display: flex;
  align-items: center;
  background-color: rgba(153, 153, 153, 0.26);
  border-radius: 50px;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 4px 35px 13px rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(17.5px);
}

.search-input-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  flex-grow: 1;
}

.search-icon {
  font-size: 18px;
  color: #9d9d9d;
}

.search-button {
  background-color: #b04e75;
  color: white;
  font-size: 1.2rem;
  width: 154px;
  height: 51px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #9d3f63;
}
